<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <style>
      img{ width: 200px;}
      [class*="col"] {margin : 5px;}
    </style>
    <link href="css/bootstrap.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="page-header">
        <h1>Booking Seven</h1>
      </header>
      <section class="row">
        <div class="col-lg-2" id="Menu">
          <h2>Menu</h2>
          <ul>
            <li><a href="#">Gestion profil</a></li>
            <li><a href="#">Gerer planing</a></li>
            <li><a href="#">Gerer groupes</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h2>Dernières infos</h2>
          <section class="row">
            <div class="col-xs-5 col-sm-5 col-md-5"><img src="images/1.jpg"/></div>
            <div class="col-lg-5 col-sm-5 col-md-5"><img src="images/2.jpg"/></div>
            <div class="col-lg-5 col-sm-5 col-md-5"><img src="images/3.jpg"/></div>
            <div class="col-lg-5 col-sm-5 col-md-5"><img src="images/4.jpg"/></div>
            <div class="col-lg-5 col-sm-5 col-md-5"><img src="images/5.jpg"/></div>
          </section>
        </div>
        <div class ="col-lg-2">
          <h2>Récement utilise</h2>
          <ul>
            <li><a href="#">Ajouter groupe</a></li>
            <li><a href="#">Retirer groupe</a></li>
            <li><a href="#">Participer à un événement</a></li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
